/* your styles go here */
/* .productimage {
  object-fit: cover;
  height: 13rem;
}

.detailproductimage {
  position: relative;
  width: 100%;
  padding-top: 100%;
  object-fit: cover;
}

.detailproductimage img {
  object-fit: cover;
} */
